<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".AnswerQuestions"
            android:exported="false" />
        <activity
            android:name=".tutorial.TutorialCommentActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.AddTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial.TutorialDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_tutorial_detail"
            android:theme="@style/Theme.Assignment.NoActionBar" />
        <activity
            android:name=".QuestionsList"
            android:exported="false" />
        <activity
            android:name=".AskQuestions"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".AskQuestion"
            android:exported="false" />
        <activity
            android:name=".MainQnA"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Assignment.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>